<h3 class="Image List"></h3>

<% @animals.first(5).each do |animal| %>
<div class="col-xs-12 col-md-12">
    <div class="col-xs-12 col-md-12">
        <h4 class=" page-header"><%= animal.name %></h4>
    </div>
    <div>
        <div class="col-xs-12 col-md-3">
            <%= link_to animal_path(animal.id) ,class: "", title: animal.name do %>
            <%= image_tag(animal.avatar, class: "img-responsive") %>
            <% end %>
        </div>
        <div class="col-xs-12 col-md-9">
            <% @images.each do |img| %> 
            <% if img.animal_id == animal.id %>
            <% 5.times do %>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <%= link_to image_path(img.id),  class: "", title: img.title do %>
                    <%= image_tag(img.file, class: 'img-responsive') %>
                    <% end %>
                    <div class="caption center">
                        <label class=""><%= img.title %></label>
                        <div><%= img.description %></div>
                    </div>
                </div>
            </div>
            <% end %>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
<% end %>