<p class="w3-center w3-myfont w3-xxlarge">Image List</p>

<% @animals.first(5).each do |animal| %>
<div class="col-xs-12 col-md-12 w3-white">
    <div class="col-xs-12 col-md-12">
        <h4 class=" page-header w3-myfont"><%= animal.name %></h4>
    </div>
    <div>
        <div class="col-xs-12 col-md-3">
            <%= link_to animal_path(animal.id) ,class: "", title: animal.name do %>
            <%= image_tag(animal.avatar, class: "img-responsive") %>
            <% end %>
        </div>
        <div class="col-xs-12 col-md-9">
            <% @images.each do |img| %> 
            <% if img.animal_id == animal.id %>
            
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <%= link_to image_path(img.id),  class: "", title: img.title do %>
                    <%= image_tag(img.file, class: 'img-responsive') %>
                    <% end %>
                    <div class="caption center">
                        <label class=""><%= img.title %></label>
                        <% if img.description.length > 10%>
                          <div><%= img.description[0..10] %>...</div>
                        <% else %>
                          <div><%= img.description %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        
            <% end %>
            <% end %>
        </div>
    </div>
</div>
<% end %>
