<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row page-header">
        <div class="col-md-4 col-xs-4">
            <%= image_tag @animal.avatar, class: 'img-responsive img-rounded' %>
        </div>
    </div>
    <div class="row">
        <div class = "col-xs-3 col-md-3 " class="btn-toolbar">
            <div class = "btn-group">Sort by </div>
            <div class = "btn-group">
                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    <%if @sort== 'likes' %>
                    Like
                    <% else %>
                    Date
                    <% end %>
                     <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="?">Date</a></li>
                    <li><a href="?sort=likes">Like</a></li>
                </ul>
            </div>
        </div>
    </div>
    </br>
    <div class="row">
        <% @images.each do |img| %> 
        
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <%= link_to image_path(img.id),  class: "", title: img.title do %>
                <%= image_tag(img.file, class: 'img-responsive') %>
                <% end %>
                <div class="caption center">
                    <label class=""><%= img.title %></label>
                    <div><%= img.description %></div>
                </div>
            </div>
        </div>
        
        <% end %>
    </div>
    <div>
        <%= paginate @images, theme: 'twitter-bootstrap-3', :params => { :sort => @sort} %>
        
    </div>
</div>