<div class="row">
    <div class="col-md-4">
        <div class="animal-image">
            <%= image_tag @image.file %>
        </div>
    </div>
    <div class="col-md-4 animal-image-font">
        <br>
        <br>
        <ul>
            <li>
                <div class="animal-image-font">
                    <strong><%= @image.title %></strong>
                </div>
            </li>
            <li>
                <div class="animal-image-font">
                    <strong>Owner: </strong>
                    <%= @image.user.name %>
                </div>
            </li>
            <li>
                <div class="animal-image-font">
                    <strong>Genre: </strong>
                    <%= @image.animal.name %>
                </div>
            </li>
            <li>
                <div class="animal-image-font">
                    <div class="" style="">
                        <%= @likes %> people liked this image
                    </div>
                
                </div>
            </li>
            <li>
                <div class="animal-image-font">
                
                    <% if user_signed_in? %>
                    <div class="" style="">
                        <%= form_tag("/image_likes/" + @image.id.to_s, method: :PUT) do %>
                        <%= submit_tag @current_user_like ? "Unlike" : "Like", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                    
                    <% end %>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <strong>Description</strong>
    <%= @image.description %>
</div>

<% if user_signed_in? %>
<%= form_for :image_comment, method: :post, remote: true do |f| %>
  <div class= "field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment, id: "cmt-field" %>
    <%= f.hidden_field :image_id, id: "img-id-field", :value => @image.id %>
  </div>
  <div class="btn btn-primary" id="btn-cmt">
     Create comment
  </div>
<% end %>
<% end %>
<p>
    <strong>Comments List:</strong>
</p>
<ul id="cmt-section">
    <% @image.image_comment.each do |image_comment|%>
        <div class="row">
            <div class="comment">
                <div class="img">
                    <% if image_comment.user.avatar.present? %>
                    <%= image_tag image_comment.user.avatar, class: "pull-left" %>
                    <% else %>
                    <% if image_comment.user.gender == 0 %>
                    <%= image_tag "female.png", class: "pull-left" %>
                    <% else %>
                    <%= image_tag "male.png", class: "pull-left" %>
                    <% end %>
                    <% end %>
                </div>
                <div class="pull-left">
                    <br>
                    <span><strong><%= image_comment.user.name %></strong></span>
                    <span><%= image_comment.comment %></span>
                </div>
                <% if user_signed_in? && (image_comment.user_id == current_user.id) %>
                  <div class="btn btn-delete" id="del-cmt" onclick="deletecmt(<%= image_comment.id %>)">
                    Delete
                  </div>
                <% end %>
            </div>
        </div>

    <% end %>
</ul>


<% if user_signed_in? && (@image.user_id == current_user.id) %>
<%= link_to 'Edit Image', edit_image_path(@image), class: "btn btn-primary" %>
<%= link_to "Delete Image", {:controller => "images", :action => 'destroy', :id => @image.id}, :confirm => "Are you sure you want to delete this image?", :method => :delete, class: "btn btn-primary" %>
<% end %>
