<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @image.animal.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>File:</strong>
  <%= image_tag @image.file %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @image.created_at %>
</p>

<% if user_signed_in? && (@image.user_id == current_user.id) %>
    <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', images_path %>
